body {
  background-image: url(../images/rain-background.jpg);
  /* background-repeat: no-repeat; */
}

header {
  opacity: 0.8;
}

li {
   background-color: transparent!important;
   font-weight: bolder;
}

.list-group-item {
    border: 1px solid #fff;
}